:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #47464d;
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-color: #df7116;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #df7116;
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
}

.topHeader {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: black;
    width: 100%;
    padding: 10px 17px;
    position: fixed;
    z-index: 10;
}

.one {
    user-select: none;
    background-color: #df7116;
    color: white;
    border-radius: 100px;
    padding: 5px 17px;
}
.bandImage {
    border-radius: 150px;
}
.BandName {
    position: absolute;
    bottom: 100px;
}

.cardFlex {
    display: inline-flex;
    flex-wrap: wrap;
}

.locationDate {
    display: none;
}

.map {
    height: 400px;
    width: 100%;
}

.moreInfo {
    z-index: 5;
}

#myUL {
    position: static;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchBox {
    margin-left: 20px;
    background: #df7116;
    border-radius: 40px;
    z-index: 10;
}

.searchInput {
    border:none;
    color: white;
    background: none;
    outline:none;
    float:right;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}
.iMgn {
    float: left;
    scale: 0.5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchBox .suggestion {
    position: absolute;
    top: 85%;
    width: 240px;
    background-color: #d98a4d;
    color: white;
    border-radius: 10px;
    margin-left: 2.5%;
}
.dropdown-check-list {
    display: inline-block;
    user-select: none;
}
.anchor {
    border: 10px grey;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background-color: #df7116;
    color: white;
    border-radius: 20px;

}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin-left: 10px;
    background-color: #d98a4d;
    color: white;
    border-radius: 20px;
    border: 5px #47464d;
}

.dropdown-check-list ul.items li {
    list-style: none;

}

.dropdown-check-list.visible .items {
    position: absolute;
    display: block;

}

.carrerStart {
    user-select: none;
    padding: 5px;
    background-color: #df7116;
    color: white;
    border-radius: 20px;
    cursor: pointer;

}

.range {
    position: absolute;
    display: none;
    top: 55px;
}

.carrerStart.visibility .range {
    position: absolute;
    display: block;
    background-color: #ffffff;
}

.form-select {
    font-size: initial;
    outline: none;
    cursor: pointer;
    list-style-type: none;
    background-color: #df7116;
    color: white;
    border-radius: 20px;
    border: #df7116;
    padding: 4.3px;
}

.dropDown {
    font-family: initial;

}

#map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: none;
    height: 600px;
    width: 60%;
    z-index: 10000;
    position: fixed !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s, transform 1s;
}

#close-map-button {
    border: none;
    display: none;
    bottom: calc(50% - 320px);
    left: calc(50% - 29%);
    transform: translate(-50%, -50%) scale(0);
    z-index: 10001;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s, transform 2s;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

#close-map-button:hover{
    cursor: pointer;
}

.map-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.map-container.visible {
    opacity: 1;
    visibility: visible;
}

.btn-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.btn-container.visible {
    opacity: 1;
    visibility: visible;
}
.map {
    height: 400px;
    width: 100%;
}
